* {
  background-color: rgb(255, 253, 237);
}

.App {
  text-align: center;
  display: grid;
  align-items: center;
  text-indent: 0;
  grid-template-rows: 10% 15% 15% 50%;
  grid-template-columns: 10% 20% 20% 20% 10% 20%;
}

button {
  height: 30px;
  background-color: rgb(187, 180, 109);
  width: 100px;
  border: 0;
}

input {
  box-shadow: 0 0 4px rgb(186, 181, 133);
  border: 0;
}