* {
  background-color: rgb(255, 253, 237);
}

.App {
  text-align: center;
  align-items: center;
  text-indent: 0;
}

button {
  height: 30px;
  background-color: rgb(187, 180, 109);
  width: 100px;
  border: 0;
}

input {
  box-shadow: 0 0 4px rgb(186, 181, 133);
  border: 0;
}

#loginpage {
 float: center;
 position: fixed;
 display: flex;
 align-items: center;
 margin: auto;
}