#histtable {
  background-color: rgb(187, 180, 109);
  margin: 10px;
  max-height: 150px;
  overflow: scroll;
}

.hexes {
  font-size: xx-large;
}

#save {
  height: 45px;
}

#historydiv {
  max-height: 211px;
  overflow-y: auto;
}

#histheading {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
}