#linenumhead {
  font-size: x-small;
}

#hexhead, .linenums {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hexhead {
  text-decoration: underline;
}

.linenums, #linenumhead {
  background-color: rgb(222, 216, 159);
  width: 55px;
}

#results table {
  padding: 0;
  width: 180px;
  border: 1px solid;
  background-color: rgb(255, 251, 213);
  border-collapse: collapse;
  grid-row-start: 3;
  grid-column-start: 3;
  margin: auto;
}

#results, #hexinfo, #changing, .hexinfos {
  display: flex;
}

#results {
  flex-direction: column;
}

#hexinfo {
  flex-direction: row;
  margin: auto;
}

#changing {
  flex-direction: column;
  margin: 15px;
}

#changing p {
  font-size: small;
}

.hexagram {
  font-size: 4.5em;
}

.hexlines {
  font-family: monospace;
  font-size: large;
}
