* {
  margin: 0;
}

li {
  font-family: monospace;
  font-size: xx-large;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#linenum {
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 130, 41, 0.2);
  width: 20%;
}

#linenum p {
  font-size: small;
  text-align: center;
}

#linenums {
  background-color: rgba(165, 130, 41, 0.2);
  width: 20%;
  font-family: cursive;
  font-size: large;
}

#hexdisplay {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  width: 20vw;
}

#hexagram {
  width: 100%;
}

#results {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

#hexinfo {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#changing {
  display: flex;
  flex-direction: column;
  margin: 15px;
}