* {
  margin: 0; 
}

#container {
  width: 100vw;
  height: 100vh;            
  text-indent: 0;
}

#logo {
  margin-bottom: 25px;
}

#logo h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

#container form {
  margin: 10px;
}

#container form button {
  margin: 10px;
  height: 45px;
  min-height: 45px;
}

#tbuttons {
  width: 10%;
  margin: 5px;
}

#tbuttons a {
  font-weight: bold;
  color: black;
  width: 10vw;
}

#tbuttons a:hover {
  color: rgb(67, 67, 67);
}

#tbuttons button {
  margin: 5px;
  height: 40px;
  width: 100%;
  padding: 0;
}

#translation {
  display: flex;
  flex-direction: row;
}

#upper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 10px;
}

#lookuphex {
  justify-content: center;
}

form input {
  font-size: large;
}

#methodbuttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

#results {
  margin-right: calc((100vw - 1200px)/2);
}

@media only screen and (max-width: 1200px) {
  #results {
    margin-right: 0;
  }
}

@media only screen and (max-width: 900px) {
  #upper {
    flex-direction: column;
    align-items: center;
  }
  #save {
    white-space: nowrap;
    width: 180px;
    height: 30px;
  }
  #translation {
    flex-direction: column;
    align-items: center;
  }
  #tbuttons {
    white-space: nowrap;
    margin-top: 3%;
    width: 100%;
  }
  #tbuttons button {
    height: 30px;
    width: 125px;
  }
}