#navbar {
  display: inline-grid;
  width: 100vw;
  height: 12vh;
  grid-row-start: 1;
  align-self: start;
}

#navbar button {
  border: 0;
  margin: 10px;
  min-height: 30px;
  margin-bottom: 0;
}

#pulldown {
  display: flex;
  flex-direction: column;
  width: 80px;
  z-index: 5;
  grid-column-start: 3;
  justify-self: center;
  align-items: flex-start;
}

#login button {
  z-index: 10;
  height: 30px;
  width: 80%;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 3px gray;
}

#login button img {
  margin-right: 3px;
}

#login {
  width: 220px;
  z-index: 10;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
}

#navbar form {
  height: 30px;
  width: 120px;
  display: flex;
  flex-direction: row;
  margin-right: 80px;
  grid-column-start: 2;
  justify-self: end;
}


label {
  font-size: small;
  margin-right: 10px;
  z-index: 5;
  height: 30px;
  white-space: nowrap;
  margin-top: 10px;
}

#navbar input {
  margin: 10px;
  height: 20px;
  z-index: 4;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#navbar form button {
  height: 30px;
  min-height: 30px;
}

@media only screen and (max-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1000px) {
  #pulldown {
    align-items: center;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  #navbar {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  #navbar {
    justify-content: space-between;
  }
}
